@use '../variables';

.infos-bar {
    padding: 16px 24px;
    display: flex;
    justify-content: space-around;

    &__infos {
        display: flex;
        gap: 500px;

        &__item {
            font-size: 14px;
            color: variables.$textColor;

            .detail {
                display: none;
            }

            b {
                color: variables.$textColor;
                font-size: 18px;
                display: block;
            }
        }
    }

    

    @media (max-width: 640px) { // celular
        display: block;

        &__infos {
            display: block;

            &__item {
                margin: 30px;
            }
        }
    }

    @media (max-width: 1024px) { // tablet
        
        &__infos {
            gap: 16px;    
        }
    }
}