@use '../variables';

.infos-bar {
    padding: 30px;
    display: flex;
    justify-content: space-around;

    &__infos {
        display: flex;
        gap: 500px;

        &__item {
            padding: 2px 5px;
            border: 1px solid transparent;
            font-size: 14px;
            color: variables.$textColor;
            position: relative;
            font-family: 'Offbit';

            &:hover {
                border: 1px solid variables.$green;

                .detail {
                    visibility: visible;
                }
            }

            .detail {
                visibility: hidden;
                position: absolute;

                img {
                    width: 80%;
                }

                &--location {
                    top: -37px;
                    left: 45px;;
                    width: 250px;
                }

                &--price {
                    top: -37px;
                    left: 30px;;
                    width: 250px;
                }

                &--when {
                    top: -37px;
                    left: -170px;;
                    width: 250px;
                }


                &__text {
                    position: absolute;
                    color: variables.$green;
                    font-size: 15px;

                    &--location {
                        top: -20px;
                        left: 162px;
                    }

                    &--price {
                        top: -20px;
                        left: 135px;
                    }

                    &--when {
                        top: -20px;
                        left: 0;
                    }
                }

                &__image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: invert(86%) sepia(45%) saturate(530%) hue-rotate(26deg) brightness(102%) contrast(105%);
                    
                    background-image: url("../images/arrow.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    &--location {
                        top: -37px;
                        left: 45px;;
                        width: 250px;
                    }
    
                    &--price {
                        top: -37px;
                        left: 30px;;
                        width: 250px;
                    }
    
                    &--when {
                        top: -37px;
                        left: -230px;;
                        width: 250px;
                    }
                }
            }

            b {
                color: variables.$textColor;
                font-size: 18px;
                display: block;
            }
        }
    }

    

    @media (max-width: 640px) { // celular

        &__infos {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__item {
                margin: 10px;
                // border: 1px solid variables.$green;

                b {
                    font-size: 1.5em;
                }

                .detail {

                    img {
                        width: 50%;
                    }

                    &--location {
                        top: -25px;
                        left: -85px;
                        width: 250px;
                    }

                    &--price {
                        top: -25px;
                        left: 30px;
                        width: 250px;
                    }

                    &--when {
                        top: -25px;
                        left: -120px;
                        width: 250px;
                    }

                    &__text {

                        &--location {
                            top: -20px;
                            left: 0px;
                        }

                        &--price {
                            top: -20px;
                            left: 85px;
                        }

                        &--when {
                            top: -20px;
                            left: 0px;
                        }
                    }

                    &__image {

                        &--location {
                            transform: scale(-1 ,1);
                        }

                        &--when {
                            transform: scale(-1 ,1);
                        }
                    }
                }
            }
        }

    }

    @media (max-width: 1024px) { // tablet
        
        &__infos {
            gap: 16px;    
        }
    }
}

// Basic styles
.button {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;

    // Using inset box-shadow instead of border for sizing simplicity
    box-shadow: inset 0 0 0 2px white;
    color: white;
    font-size: inherit;
    font-weight: 700;

    // Required, since we're setting absolute on pseudo-elements
    position: relative;
    vertical-align: middle;

    &::before,
    &::after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.button-animation {
    transition: color 0.25s;

    &::before,
    &::after {
        // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
        border: 2px solid transparent;
        width: 0;
        height: 0;
    }

    // This covers the top & right borders (expands right, then down)
    &::before {
        top: 0;
        left: 0;
    }

    // And this the bottom & left borders (expands left, then up)
    &::after {
        bottom: 0;
        right: 0;
    }

    &:hover {
        color: variables.$green;
    }

    // Hover styles
    &:hover::before,
    &:hover::after {
        width: 100%;
        height: 100%;
    }

    &:hover::before {
        border-top-color: variables.$green; // Make borders visible
        border-right-color: variables.$green;
        transition:
        width 0.25s ease-out, // Width expands first
        height 0.25s ease-out 0.25s; // And then height
    }

    &:hover::after {
        border-bottom-color: variables.$green; // Make borders visible
        border-left-color: variables.$green;
        transition:
        border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
        width 0.25s ease-out 0.5s, // And then exanding width
        height 0.25s ease-out 0.75s; // And finally height
    }
}