@use 'variables';

.event {
    position: relative;

    .container {
        display: flex;
        gap: 40px;
    }

    &--friends {
        background-image: linear-gradient(variables.$color2, variables.$color2);
    }

    &--drinks {
        background-image: linear-gradient(variables.$color2, variables.$color2);
    }

    &--food {
        background-image: linear-gradient(variables.$color2, variables.$color2);
    }

    &--music {
        background-image: linear-gradient(variables.$color2, variables.$color2);
    }

    &__image {
        max-width: 360px;

        &--friends {
            transform: rotate(2deg);
        }

        &--drinks {
            transform: rotate(-2deg);
        }

        &--food {
            transform: rotate(2deg);
        }

        &--music {
            transform: rotate(-2deg);
        }
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    &__description {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        &--friends {
            transform: rotate(2deg);
        }

        &--drinks {
            transform: rotate(-2deg);
        }

        &--food {
            transform: rotate(2deg);
        }

        &--music {
            transform: rotate(-2deg);
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 0;

        &__item {
            font-size: 72px;
            color: variables.$textColor;
        }
    }

    @media (max-width: 640px) { // celular

        .container {
            display: block;
        }

        &__details {

            &__description {
                margin-right: 0;
                margin-bottom: 16px;
            }
        }

        &__image {
            width: 100%;
        }
    }
}