@use 'variables';

.event {

    .container {
        display: flex;
        gap: 40px;
    }

    &--friends {
        background-image: linear-gradient(variables.$dark, variables.$color1);
    }

    &--drinks {
        background-image: linear-gradient(variables.$color1, variables.$dark);
    }

    &--food {
        background-image: linear-gradient(variables.$dark, variables.$color1);
    }

    &--music {
        background-image: linear-gradient(variables.$color1, variables.$secondaryTextColor);
    }

    &__item {

        &:last-child {
            padding-bottom: 30px;
        }
    }

    &__image {
        max-width: 360px;

        &--friends {
            transform: rotate(2deg);
        }

        &--drinks {
            transform: rotate(-2deg);
        }

        &--food {
            transform: rotate(2deg);
        }

        &--music {
            transform: rotate(-2deg);
        }
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    &__description {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        letter-spacing: 5;
        color: variables.$light;

        &--friends {
            transform: rotate(2deg);
        }

        &--drinks {
            transform: rotate(-2deg);
        }

        &--food {
            transform: rotate(2deg);
        }

        &--music {
            transform: rotate(-2deg);
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 0;
        letter-spacing: -5;

        &__item {
            font-size: 72px;
            color: variables.$green;
            text-transform: uppercase;
            font-weight: 900;

            .dud {
                opacity: 0.5;
            }
        }
    }

    @media (max-width: 640px) { // celular

            .container {
                // display: block;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 4.5em;
            }

            &__description {
                margin-right: 0;
                margin-top: -35px;
                font-size: 1em;
                text-align: center;
                max-width: 200px;
            }

            &__image {
                max-width: 300px;
                height: auto;
                margin-bottom: 1em;
            }
    }
}