@use 'variables';

.footer {
    background-color: variables.$secondaryTextColor;

    &__container {
        padding: 15px 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__text {
            color: variables.$textColor !important;
            font-size: 15px;
            font-weight: 400;
        }
    }

    @media (max-width: 640px) {
        // background-color: red;
        
        &__container {
            display: flex;
            justify-content: center;
            align-items: center;

            &__text {
                font-size: 10px;
                text-align: center;
            }
        }
    }
}