@use 'variables';

.footer {
    background-color: variables.$secondaryTextColor;

    &__container {
        padding: 15px 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__text {
            color: variables.$textColor !important;
            font-size: 15px;
            font-weight: 400;
        }
    }
}