@use 'variables';

.hero {
    background-image: url(../images/fundo-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &__container {      
        display: flex;
        justify-content: center;
        width: 16em;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        padding: 6em 0;
    
        &__title {
            text-align: center;
            padding: 64px 0;
            line-height: 56px;
            font-weight: 900;

            &__item {
                font-family: 'Offbit';
                font-size: 50px;
            }
            
            #counter {
                font-family: 'Offbit';
            }
        }
    }

    &__logo {
        margin: 0 auto;
        height: 80px;
        display: block;
    }

    @media (max-width: 640px) { // celular
        
        padding: 40px 0;

        // &__logo {
        //     height: 40px;
        // }

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
            padding: 40px 0;
        }
    }

    @media (max-width: 1024px) { // tablet
        
    }
}