@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // height: 100vh;

    .container {
        position: relative;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:rgba(0,0,0,.4);
    }
    
    &__text {
        text-align: center;
        padding-top: 64px;
        padding-bottom: 100px;
        line-height: 56px;
        font-size: 40px;
        font-weight: 900;
        
    }

    &__logo {
        margin: 0 auto;
        height: 80px;
        display: block;
    }

    @media (max-width: 640px) { // celular
        
        padding: 40px 0;

        &__logo {
            height: 40px;
        }

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
            padding: 40px 0;
        }
    }

    @media (max-width: 1024px) { // tablet
        
    }
}