@use 'variables';

.second-hero {

    background-image: url(../images/second-hero/top-brackground.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    position: relative;

    &__top {

        &__title {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            column-gap: .2rem;
            align-items: center;
            padding: 10em 0 5em;

            &__col {
                display: flex;

                &--left {
                    flex-direction: row-reverse;
                }

                &--center {    
                    flex-direction: column;
                    align-items: center;
                }

                &--right {
                    flex-direction: row;
                }
            }

            .sparkle {
                width: 60px;
                height: 100%;
                object-fit: cover;
                filter: drop-shadow(0 0 0.75rem #fff);
            }

            .subtitle {
                font-family: 'Offbit';
                font-size: 2em;
            }

            .title {
                font-family: 'Offbit';
                font-size: 4em;
            }
        }
    }

    &__bottom {
        background-image: url(../images/second-hero/bottom-background.svg);
        // background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 99;

        &__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10em 0 10em;

            .title {
                color: variables.$secondaryTextColor;
                font-family: 'Offbit';
                font-size: 4em;
            }

            .subtitle {
                color: variables.$secondaryTextColor;
                font-family: 'Offbit';
                font-size: 2em;

                .link {
                    color: variables.$secondaryTextColor;
                    font-family: 'Offbit';
                    font-size: 1em;
                }
            }
        }
    }
}

@media (max-width: 1024px) { // tablet
    .second-hero {

        &__top {

            &__title {
                text-align: center;
            }
        }
    }
}


@media (max-width: 640px) { // celular
    
    .second-hero {

        &__top {

            &__title {

                &__col {

                    .sparkle {
                        width: 45px;
                        height: 100%;
                    }

                    &--center {

                        .subtitle {
                            font-family: Offbit;
                            font-size: 1em;
                            /* letter-spacing: 10px; */
                            text-align: center;
                            margin-bottom: 10px;
                            line-height: 1.5em;
                        }

                        .title {
                            // text-align: center;
                            font-size: 3.5em;
                            // letter-spacing: 10px;
                        }
                    }
                }
            }
        }

        &__bottom {
            

            &__title {

                .title {
                    text-align: center;
                    font-size: 3.5em;
                }

                .subtitle {
                    font-size: 1em;
                }
            }
        }
    }

}