@use 'variables';

@mixin stripe-flex() {
    display: flex;
    background-color: variables.$secondaryTextColor;
    overflow: hidden;
}

@mixin text($fontsize: 10px){
    font-family: 'Offbit';
    font-size: $fontsize;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 6rem;
}

.stripe {

    &__wrapper{
        @include stripe-flex;

        &--ltr {
            // padding-top: 1rem;
        }

        &__text {
            display: flex;
            align-items: baseline;
            filter: drop-shadow(0 0 0.75rem #DADADA);

            .star {
                width: 60px;
                height: 60px;
                margin-left: 11rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &--rtl {
                animation: move-rtl 4000ms linear infinite;
                @include text(80px);
                letter-spacing: 5px;
                padding-top: 1rem;
                
                @keyframes move-rtl {
                    0% {
                        transform: translateX(0);
                    }
                    100% {
                        transform: translateX(-100%);
                    }
                }
            }
        
            &--ltr {
                animation: move-ltr 6000ms linear infinite;
                @include text;
                color: white;
                stroke: none;
                letter-spacing: 20px;
            }
        }
    
        @keyframes move-ltr {
            0% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(0);
            }
        }
    }
}