// colors
$textColor: #eae6cf;
$light: #fff;
$secondaryTextColor: #000;

$color1: #061719;
$color2: #111;
$color3: #00271C;
$color4: #041F1C;
$purple: #668f00;
$green: #C8FF62;
$background: #222222;

// fonts
@font-face {
    font-family: 'Offbit';
    src: url(../../assets/fonts/OffBitTrial-101Bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Offbit Dot';
    src: url(../../assets/fonts/OffBitTrial-DotBold.ttf);
    font-weight: 800;
}