// colors
$textColor: #eae6cf;
$light: #fff;
$secondaryTextColor: #000;

$color1: #060c0c;
$dark: #111;
$green: #C8FF62;

// fonts
@font-face {
    font-family: 'Offbit';
    src: url(../../assets/fonts/OffBitTrial-101Bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Offbit Dot';
    src: url(../../assets/fonts/OffBitTrial-DotBold.ttf);
    font-weight: 800;
}